* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbeee3;
  letter-spacing: 0.2em;
}

header {
  height: 70px;
  background-color: #434343;
  color: #efefef;
}

ul {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
}

.logo {
  background-image: url(img/dish-S.png);
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 15px 0;
}

.head-title {
  margin-left: 10px;
  letter-spacing: 0.2em;
}

ul :first-child {
  margin-right: auto;
  display: flex;
}

li {
  list-style: none;
  justify-content: right;
  margin-right: 50px;
  line-height: 70px;
}

.main-visual-container {
  height: 200px;
}

.main-visual {
  height: 320px;
  text-align: center;
  background-color: #fbeee3;
  padding: 60px 0;
  letter-spacing: 0.2em;
}

.main-logo {
  background-image: url(img/dish-L.png);
  background-position: center;
  background-size: contain;
  height: 120px;
  width: 120px;
  line-height: 700px;
  margin: 0 auto;
  display: none;
}

.title {
  letter-spacing: 0.2em;
  font-size: 50px;
  color: #434343;
  display: none;
}

.about-container {
  background-color: #fbeee3;
  height: 250px;
  padding: 50px 0 100px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: #434343;
  letter-spacing: 0.2em;
  border-top: #787878 solid 2px;
  border-bottom: #787878 solid 2px;
  border-radius: 2px;
}

.about {
  padding-bottom: 30px;
}

.PR-container {
  background-color: #fbeee3;
  height: 250px;
  padding: 50px 0 100px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: #434343;
  letter-spacing: 0.2em;
  border-bottom: #787878 solid 2px;
  border-radius: 2px;
}
